<!DOCTYPE html>
<html ng-app="survey">
<head>
	<link rel="stylesheet" type="text/css" href="css\bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css\own.css" />
	<link rel="stylesheet" type="text/css" href="js\angular-datatables\css\angular-datatables.min.css" />
	 <link rel="stylesheet" type="text/css" href="js\angular-datatables\css\dataTables.bootstrap.min.css" />

</head>

<body >

	<script type="text/javascript" src="js\jquery.min.js"></script>
	<script type="text/javascript" src="js\angular-datatables\jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="js\angular.min.js"></script>
	<script type="text/javascript" src="js\angular-datatables\angular-datatables.min.js"></script>
	
	<script type="text/javascript" src="app\app.js"></script>


	<button class="btn btn-default">Cadastrar Pesquisas</button>
	<button class="btn btn-default">Cadastrar Questionarios</button>
	<button class="btn btn-default">Cadastrar Questoes</button>
	

	
	

<div ng-controller="SurveyController as surveyCtrl">
<button ng-click="surveyCtrl.getSurveys()">get teste</button>
	<form name="surveyForm"  ng-submit="surveyForm.$valid && surveyCtrl.addSurvey()" novalidate>

		<input type="text" name="name" ng-model="surveyCtrl.newSurvey.name" required>
		<input type="submit" name="dname" value="Cadastrar">

		
	</form>
	
</div>

<div ng-controller="AngularWayCtrl as showCase">
   {{showCase.nome}}
   
   <table datatable="ng" class="row-border hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
         
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in showCase.surveys">
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
         
        </tr>
        </tbody>
    </table>
	
</div>	












</body>
</html>