<!DOCTYPE html>
<html ng-app="survey">
<head>
	<link rel="stylesheet" type="text/css" href="css\bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css\own.css" />
	<link rel="stylesheet" type="text/css" href="js\angular-datatables\css\angular-datatables.min.css" />
	<!-- <link rel="stylesheet" type="text/css" href="js\angular-datatables\css\dataTables.bootstrap.min" />-->

</head>

<body >

	<script type="text/javascript" src="js\jquery.min.js"></script>
	<script type="text/javascript" src="js\angular-datatables\jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="js\angular.min.js"></script>
	<script type="text/javascript" src="js\angular-datatables\angular-datatables.min.js"></script>
	
	<script type="text/javascript" src="app\Dtable.js"></script>
	<script type="text/javascript" src="app\app.js"></script>


	<button>Cadastrar Pesquisas</button>
	<button>Cadastrar Questionarios</button>
	<button>Cadastrar Questoes</button>
	


<div ng-controller="SurveyController as surveyCtrl">
<button ng-click="surveyCtrl.getSurveys()">get teste</button>
	<form name="surveyForm"  ng-submit="surveyForm.$valid && surveyCtrl.addSurvey()" novalidate>

		<input type="text" name="name" ng-model="surveyCtrl.newSurvey.name" required>
		<input type="submit" name="dname" value="Cadastrar">

		<h1> Ta valendo?{{2+2}} </h1>
	</form>
	
	<div ng-controller="DtableController as showCase">
		<h1> {{showCase.tt}} </h1>
		<table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover"></table>
	</div>
	
	
	<!-- 
	<div ng-controller="DtableController as showCase">
		<table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover"></table>
	</div>
	-->
	
	

	

</div>










</body>
</html>